VPN_SERVER_PUBLIC_HOST=gram.isti.cnr.it
VPN_PORT=1194
VPN_PROTO=udp

VPN_SUBNET=10.84.0.0/24
ANDROID_VPN_IP=10.84.0.2
PC_VPN_IP=10.84.0.10

PUBLIC_SERVICE_IP=146.48.84.211
PC_LAN_IP=192.168.1.146

TZ=Europe/Rome
