VPN_SERVER_PUBLIC_HOST=gram.isti.cnr.it
VPN_PORT=1194
VPN_PROTO=udp

VPN_SUBNET=10.8.0.0/24
VPN_POOL_START=10.8.0.100
VPN_POOL_END=10.8.0.254
PC_VPN_IP=10.8.0.5

PUBLIC_SERVICE_IP=146.48.84.211
PC_LAN_IP=192.168.1.146

TZ=Europe/Rome
